In [23]:
import requests
import time
import pandas as pd

In [7]:
# Set the URL you want to call
url= "https://api.agify.io/?name=lucian"

In [17]:
#get the response
response = requests.get(url)

In [18]:
response

In [19]:
response.text

'{"count":4932,"name":"lucian","age":51}'

In [22]:
#read json into dictionary

dict=response.json()
dict["count"]

2102

In [24]:
#repeat with list of names
#make dataframe from responses
names = ["lucian", "maria", "john", "michael", "james", "jacob", "sophia", "emma", "olivia", "ava"]

#make a list of dictionaries
list_of_dicts = []

for name in names:
    url = f"https://api.agify.io/?name={name}"
    response = requests.get(url)
    print(response.text)
    
    dict = response.json()
    list_of_dicts.append(dict)


    #
    #wait for 1 second to avoid being blocked
    time.sleep(1)

df = pd.DataFrame(list_of_dicts)

{"count":4932,"name":"lucian","age":51}
{"count":538601,"name":"maria","age":60}
{"count":277407,"name":"john","age":73}
{"count":298219,"name":"michael","age":63}
{"count":147558,"name":"james","age":72}
{"count":20055,"name":"jacob","age":38}
{"count":16011,"name":"sophia","age":40}
{"count":56913,"name":"emma","age":41}
{"count":22999,"name":"olivia","age":41}
{"count":2102,"name":"ava","age":43}

In [25]:
df

    count     name  age
0    4932   lucian   51
1  538601    maria   60
2  277407     john   73
3  298219  michael   63
4  147558    james   72
5   20055    jacob   38
6   16011   sophia   40
7   56913     emma   41
8   22999   olivia   41
9    2102      ava   43

In [28]:
url = "https://api.themoviedb.org/3/discover/movie?include_adult=false&language=en-US&page=1&sort_by=popularity.desc"

response = requests.get(url)

print(response.text)

{"status_code":7,"status_message":"Invalid API key: You must be granted a valid key.","success":false}

In [42]:
# add your own api key
api_key =

In [49]:
#please replace <<your_key_here>> with your own key
url = f"https://api.themoviedb.org/3/discover/movie?api_key={api_key}&language=en-US&sort_by=popularity.desc&include_adult=false&page=1"

response = requests.get(url)

In [50]:
dict=response.json()

In [51]:
pd.DataFrame(dict["results"]).shape

(20, 14)

In [52]:
pd.DataFrame(dict["results"]).head(5)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/Asg2UUwipAdE87MxtJy7SQo08XI.jpg,"[28, 14, 27]",957452,en,The Crow,Soulmates Eric and Shelly are brutally murdere...,2505.846,/58QT4cPJ2u2TqWZkterDq9q4yxQ.jpg,2024-08-21,The Crow,False,5.446,340
1,False,/9l1eZiJHmhr5jIlthMdJN5WYoff.jpg,"[28, 35, 878]",533535,en,Deadpool & Wolverine,A listless Wade Wilson toils away in civilian ...,1930.829,/8cdWjvZQUExUUTzyp4t6EDMubfO.jpg,2024-07-24,Deadpool & Wolverine,False,7.680,3079
2,False,/9BQqngPfwpeAfK7c2H3cwIFWIVR.jpg,"[10749, 18]",1079091,en,It Ends with Us,When a woman's first love suddenly reenters he...,1506.809,/cSMdFWmajaX4oUMLx7HEDI84GkP.jpg,2024-08-07,It Ends with Us,False,6.905,406
3,False,/dKvvW3euRwUY0Nyl6JBP5tXLPJW.jpg,"[16, 10751, 12, 35, 14, 18]",1022789,en,Inside Out 2,Teenager Riley's mind headquarters is undergoi...,1282.570,/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg,2024-06-11,Inside Out 2,False,7.664,3743
4,False,/lgkPzcOSnTvjeMnuFzozRO5HHw1.jpg,"[16, 10751, 35, 28]",519182,en,Despicable Me 4,"Gru and Lucy and their girls—Margo, Edith and ...",1130.468,/wWba3TaojhK7NdycRhoQpsG0FaH.jpg,2024-06-20,Despicable Me 4,False,7.200,1710

In [53]:
#the response in this case in paginated, which means that we need to loop through the pages to get all the results
#we can do this by changing the page parameter in the URL

#please replace <<your_key_here>> with your own key

url = f"https://api.themoviedb.org/3/discover/movie?api_key={api_key}&language=en-US&sort_by=popularity.desc&include_adult=false&page=1"

response = requests.get(url)

dict=response.json()

total_pages = dict["total_pages"]

list_of_dicts = []

for page in range(1, total_pages+1):
    url = f"https://api.themoviedb.org/3/discover/movie?api_key={api_key}&language=en-US&sort_by=popularity.desc&include_adult=false&page={page}"
    response = requests.get(url)
    dict = response.json()
    list_of_dicts.extend(dict["results"])
    time.sleep(1)

    #stop early for demo
    if page ==10:
        break

In [45]:
df = pd.DataFrame(list_of_dicts)

In [47]:
df.shape

(420, 14)